/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:black;
    color: white;
}
p{
    color: rgba(255, 255, 255, 0.50)
}

/* nav style starts here */
.container {

    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}


.title, .footer-left h2 {
    color: #E6533C;
    font-style: italic;
    font-size: 26px;
    border-radius: 20px;
}

.primary-color, .btn-primary {
    color: white;
    background-color: #E6533C;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
}

.btn-primary-download {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.primary-color-home {
    background-color: #E6533C;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.transparent-btn {
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(0, 6, 11);
    text-decoration: none;
    font-weight: 200;
}

.nav-bar {
    display: none;
}

.nav-btn{
    border:1px solid rgba(255, 255, 255, 0.333);
    padding: 10px 9px;
    border-radius: 20px;
}

/* banner style starts here */

.apply-bg{
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  
}

.main-content-text, .main-content-img {
    width: 45%;
}

.main-content-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 120%;
  
}

.main-content-text h1 span {
    font-family: 'Cedarville Cursive', cursive;
    color: white;
    line-height: 120%;
}

.main-content-text p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 150%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.main-content-img {
    position: relative;
    width: 50%;

    
}

.main-content-img img {
    display: block;
    width: 349px;
height: 580px;
}

.stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stat-1, .stat-2 {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    text-align: start;
}

.stat-1 {
    position: absolute;
    top: 25%;
    left: 60%;
}

.stat-2 {
    position: absolute;
    bottom: 10%;
    left: 7%;
}

.stats span {
    font-weight: bold;
}

.stats p {
    font-weight: 200;
    font-size: 13px;
}

/* change habit style starts here */
.change-habit, .meet-text {
    margin-top: 1rem;
    text-align: center;
   
}

.change-habit-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
    margin-top: 3.5rem;
}

.change-habit-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}





/* run extra style starts here */
.run-extra {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6.5rem;
    text-align: start;
    margin-top: 3.5rem;
    background: #222222;
    border-radius: 20px;
    padding: 20px 20px;
}

.run-text, .run-image {
    width: 40%;
}

.run-extra p {
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: 400;
}

.run-extra h2 {
    color: #FFF;
    line-height: 120%;
    font-size: 3rem;
    font-weight: 900;
}

.run-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: none;
    object-position: 65% 28%;
}

/* meet style starts here */
.meet-team img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.meet-team-cards {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px 10px;
}

.row-1, .row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 10px 10px;
}

.meet-card {
    position: relative;
}

.member-card {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.member-card h3, .member-card p {
    margin: 5px 0;
}

.member-card p {
    color: rgba(255, 255, 255, 0.591);
    font-weight: 400;
}

/* BMI Calculator styles start here */




.bmi-calculator-header {
    text-align: justify;
    margin-bottom: 40px;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 40%;
   
}

.bmi-calculator-header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;

}

.bmi-calculator-header p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.50);


}
.full-bmi{
    background: #222;

}

.bmi-calculator-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
   

}

.bmi-calculator-chart,
.bmi-calculator-form {
    /* flex: 1; */
    padding: 10px 10px;
    width: 40%;
}

.bmi-calculator-chart h2,
.bmi-calculator-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bmi-calculator-chart table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}

.bmi-calculator-chart table th,
.bmi-calculator-chart table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #333;
}

.bmi-calculator-chart table th {
    font-weight: bold;
    color: #aaa;
}

.bmi-calculator-form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.50);


}

.bmi-calculator-form form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.bmi-calculator-form .form-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 15px;
   overflow: hidden;
}

.bmi-calculator-form input,
.bmi-calculator-form select {
    width: 100%;
    padding: 20px 20px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

/* new at gyming style starts here  */


.info-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 20px;
    margin-top: 1rem;
    border: 1px solid #E6533C;
}

.info-left, .info-right {
    flex: 1;
    padding: 20px;
}
.info-left{
    border-right: 1px solid #E6533C;
}

.info-left h2, .info-right h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.info-left p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.info-left .subtext {
    color: #888;
}

.info-left ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.info-left ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}


.info-right p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.info-right strong {
    font-size: 1.3rem;
}






/* footer style starts here */
footer {
    background: rgba(255, 255, 255, 0.10);
    padding: 60px 40px;
    margin-top: 3.5rem;
    backdrop-filter: blur(10px);
    color: #b5b5b5;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.footer-left {
    width: 40%;
}
.footer-left p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer-column h3,.footer-middle h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul, .footer-middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li,.footer-middle ul li {
    margin-bottom: 10px;
}

.footer-column ul li a,.footer-middle ul li a {
    text-decoration: none;
    color: #b5b5b5;
    font-weight: 400;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #b5b5b5;
}

.footer-bottom hr {
    border: 1px solid #b5b5b5;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


