/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000e4;
    color: white;
}

.title {
    color: #E6533C;
    font-style: italic;
    font-size: 26px;
    border-radius: 20px;
}

.primary-color, .btn-primary {
    color: white;
    background-color: #E6533C;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    
}


.container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.primary-color-home{
   background-color: #E6533C;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.transparent-btn {
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(0, 6, 11);
    text-decoration: none;
}



.main-content {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  
}

.main-content-text, .main-content-img {
    width: 50%;
}

.main-content-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.main-content-text h1 span {
    font-family: cedarville cursive;
    color: white;
}

.main-content-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.main-content-img img {
    width: 100%;
    height: auto;
}

.stats {
    position: absolute;
    gap: 20px;
    
}

.stat-1, .stat-2 {
    position: relative;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.stat-1 {
    top: 50%;
    right: 50%;
}

.stat span {
    font-size: 24px;
    color: #E6533C;
}

.change-habit {
    margin-top: 3.5rem;
    text-align: center;
    padding: 40px 40px;
}

.change-habit-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5rem;
    margin-top: 3.5rem;
   
   
}

.change-habit-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.run-extra{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
    gap: 3.5rem;
    text-align: start;
   margin-top: 3.5rem;
    background: #222222;
    border-radius: 20px;
   padding: 20px 20px; 
}

.run-extra-text, .run-extra-image{
    width: 40%;
}

.run-extra p{
    color: rgba(255, 255, 255, 0.50);
   margin-bottom: 30px;
   line-height: 30px;
   font-weight: 400;
   
}
.run-extra h2{
    color: #FFF;
    line-height: 120%;
    font-size: 3rem;
    font-weight: 900;
}

.run-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .nav-btn {
        flex-direction: column;
        gap: 10px;
    }

    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .main-content-text, .main-content-img {
        width: 100%;
    }

    .main-content-img {
        margin-top: 20px;
    }

    .change-habit-text{
        margin-top: 3.5rem;

    }

    .change-habit-img{
       
        grid-template-columns: repeat(1, 1fr);
    }
    .run-extra {
        flex-direction: column;
        align-items: center;

    }
    .btn-primary {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px; 
        box-sizing: border-box; 
        margin: 0; 
    }

    .run-text, .run-image {
        width: 100%; 
       
        
    }

}
